header {
  background-color: #262a47;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6rem;
}

.logo {
  width: 50px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.head-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 100px 50px;
}

.ray-main {
  width: 500px;
}

.main {
  text-align: center;
}
.main h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.main p {
  font-size: 18px;
  color: #E5E7EB;
}

.main button {
  padding: 10px 30px;
  background-color: #3882F6;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid white;
}

.types {
  text-align: center;
  background-color: #E5E7EB;
  padding: 50px 50px;
}

.types h3{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.type-card {
  width: 200px;
}
.type-card img {
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
}

.quotes {
  padding: 50px;
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.quotes p:first-child {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.quotes p:last-child {
  font-weight: bold;
  font-size: 20px;
  text-align: end;
  margin-right: 20px;

}


