header {
  background-color: #262a47;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6rem;
}

.logo {
  width: 50px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.head-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding: 100px 50px;
}

.ray-main {
  width: 500px;
}

.main {
  text-align: center;
}
.main h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.main p {
  font-size: 18px;
  color: #E5E7EB;
}

.main button {
  padding: 10px 30px;
  background-color: #3882F6;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid white;
}


